/* PrescriptionComponent.css */
.prescription {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    width: 50%;
    margin: 120px auto;
    position: relative;
  }

  .titrre {
    text-align: center;
    margin-bottom: 20px;
  }
  .specialiteee {
    font-style: italic;
    margin-bottom: 5px;
  }
  
  .headerr {
    margin-bottom: 20px;
  }
  
  .headerr h2 {
    margin: 0;
  }
  
  .headerr p {
    margin: 5px 0;
  }
  .doctor-infos {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color:black;
  }
  .contact-infos{
    margin-left: 300px;
  }
  
  .patient-infos, .prescription-details {
    margin-bottom: 20px;
  }
  
  .patient-infos h3, .prescription-details h3 {
    margin: 0 0 10px;
  }
  
  .patient-infos p, .prescription-details p {
    margin: 0;
  }
  
  .prescription-details .checkboxes {
    margin-top: 10px;
  }
  
  .prescription-details .checkboxes label {
    margin-right: 20px;
  }
  .signature {
    position: absolute;
    bottom: 40px;
    right: 50px;
    display: flex;
    align-items: center;
  }
  
  .signature-label {
    margin-right: 10px;
  }
  
  .signature-img {
    height: 190px;
    width: 170px;
  }
  
  /* Additional styles for signature */
  .signature-label {
    font-weight: bold;
  }
  
  .signature-img {
    padding: 5px;
  }
  /* DisplayOrdonnance.css */
.qr-code-container {
    position: relative;
    width: 200px; /* Adjust size as needed */
    height: 200px; /* Adjust size as needed */
    margin-left: 40px;
    margin-top: 70px;
  }
  
  .qr-code-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
  }
  
  .qr-code-overlay p {
    margin: 0;
  }
  .medicaments {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 40px;
    gap: 20px;
  }
  
  .medicament {
    flex: 0 0 33.33%; /* Adjust width as needed */
    margin-right: 10px; /* Add margin between items */
  }
  .medicament-list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
gap: 20px;  }
  
.medic{
  margin-top: 10px;
}
/* Input field styles */
.medic-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}
.medic input{
  margin-top: 10px;

}


button:hover {
  background-color: #0056b3;
}
.submit{
  margin-left: 620px;
}

.addbtnn{
  
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  height: 50px;
  margin-top: 10px;
}