

.medical-record-form {
    max-width: 800px;
    margin: 0 auto; /* Center the form horizontally */
    padding: 20px;
    border: 2px solid #ccc; /* Add border to resemble a medical folder */
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 120px !important;
    margin-top: 10px;
    background-color: #ffffff;
  }
.body{
  background-color: #ebe4e4;
}


  .title-containerr {
    background-color: #f2f2f2; /* Grey background color */
    padding: 25px;
    border-radius: 5px;
    margin-bottom: 20px; /* Adjust as needed */
  }
  
  .title-containerr h2 {
    margin-left: 300px ;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;

  }
  
  .section-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px; /* Adjust margin between sections */
align-items: flex-start;  }
  
  .left-column, .right-column {
    flex: 1;
    margin-top: 45px;
    margin-left: 20px; /* Adjust the margin between left and right columns */
    margin-right: 20px; /* Adjust the margin between left and right columns */
  }
  







  .left-column h3, .right-column h3 {
    font-size: 18px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group input, select, textarea {
    width: calc(100% - 20px); /* Adjust input width to consider margin */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .submitBtn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
        margin-left: 680px;
  }
  
 .submitBtn button:hover {
    background-color: #0056b3;
  }
  .patname{
    font-weight:bold;
  }