.doctors{
  background-color: #ffffff;
margin-left: 70px;
margin-right: 70px;
border-radius: 8px;
margin-top: 90px;


}

.title{
  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; /* Adjust the height as needed */
    background: rgba(32, 70, 224, 1.0);
    background: conic-gradient(from 315deg, rgba(32, 70, 224, 1.0), rgba(117, 163, 216, 1.0));
    color: white; /* Adjust text color as needed */
    font-size: 36px; /* Adjust font size as needed */
    font-weight: bold;
    margin-top: 10px;
    margin-right:20px ;
    margin-left:20px ;
    margin-bottom: 20px;
  }
.doctorslist{
  margin: 0; /* Removes default margin from h1 tag */
    margin-right: 990px;
}




.doctorGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  padding: 1rem;
  margin-top: 30px;
  margin-left: 60px;
  margin-right: 60px;

}

.doctorCard{
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.doctorCardHeader img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #ccc;
}

.doctorCardBody {
  padding: 1rem;
  text-align: center;
}

.doctorCardBody h3 {
  margin: 0.5rem 0;
}

.doctorCardBody p {
  color: #555;
  margin-bottom: 1rem;
}

.rating {
  color: #f5a623;
  margin-bottom: 1rem;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}
.rating{
  font-size: 20px;
}


.filterContainer  {
  display: flex;
  padding: 1rem;
  gap: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  
  background-color: #ffffff;
  border-radius: 8px;
  margin-bottom: 1rem;
  margin-left: 70px;
  margin-right: 70px;

}

.searchBox  {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  border: 0.5px solid  #0b0b0b !important;
}

.searchBox  input {
  border: none;
  margin-left: 0.5rem;
  flex-grow: 1;
  border-radius: 8px 0 0 8px;
}



.searchBox  input:focus {
  outline: none;
}

.dropdown select {
  padding: 0.5rem;
  margin-left: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
  width: 120px; /* Adjust the width as needed */

}

.dropdown select:focus {
  outline: none;
}

.searchBtn {
  background-color: #007bff;
  color: white;
  border: none;
  height: 40px;
  width: 90px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 40px;
}
