.footerr {
  display: flex;
  justify-content: center; /* Changed to center the footer content */
  align-items: start; /* Aligns items to the start of the cross axis */
  flex-wrap: wrap;
  padding: 20px 20px;
  background-color: #f5f5f5;
  font-size: 14px;
  color: #333;
  position: relative; /* Add relative positioning to the parent container */
}

.footer-section h3 {
  font-size: 20px;
  margin-left: 30px;
  margin-bottom: 8px;
}

.footer-section {
  flex: 1;
  margin-right: 70px;
  margin-left: 70px;
  margin-bottom: 10px;
  margin-top: 60px;
}

.footer-section ul {
  list-style: none;
  margin-left: 40px;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
  display: flex;
  margin-top: 20px;
  align-items: center;
  margin-left: 30px;
}

.footer-section ul li img { /* Updated selector to target img instead of svg */
  width: 18px; /* Example size, adjust as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 5px; /* Align with the text */
}

.footer-section ul li a {
  text-decoration: none;
  color: inherit;
  margin-left: 5px;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

/* Adjusted icon classes for img tags */
.icon, .iconig {
  width: 35px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-left: 20px;
  color: #00b123; /* This won't apply to img tags, but left for reference */
}

.iconig {
  width: 41px; /* Adjust size specifically for Instagram icon */
  margin-bottom: -3px; /* Adjust vertical alignment if necessary */
}

.logo-footer {
  position: absolute; /* Absolute position the logo */
  left: 50%; /* Position the center of the logo at the middle of the footer */
  transform: translateX(-50%); /* Shift the logo left by half its width to center it */
  width: auto; /* Allow it to be auto to keep the image ratio */
  max-width: none; /* Override any max width */
}

.logo {
  display: block; /* Make sure the logo is a block to apply width and height correctly */
  width: 230px; /* Adjust the width as necessary */
  height: 74px; /* Maintain aspect ratio */
}

.footer-nav {
  grid-area: footer;
  background-color: #40A2E3;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
