.footerr {
  display: flex;
  justify-content: flex-start; /* Changed to center the footer content */
  align-items: center; /* Aligns items to the start of the cross axis */
  flex-wrap: wrap;
  padding: 20px 20px;
  background-color: #f5f5f5;
  font-size: 14px;
  color: #333;
  position: relative; /* Add relative positioning to the parent container */
  
}

.footer-section h3 {
  font-size: 20px;
  margin-left: 0; 

  margin-left: 30px;
  margin-bottom: 8px;
}

.footer-section {
  flex: 1;
 
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  margin-left: 0px;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
  display: flex;
  margin-top: 20px;
  align-items: center;
  margin-left: 30px;
}

.footer-section ul li img { /* Updated selector to target img instead of svg */
  width: 18px; /* Example size, adjust as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 5px; /* Align with the text */
}

.footer-section ul li a {
  text-decoration: none;
  color: inherit;
  margin-left: 5px;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

/* Adjusted icon classes for img tags */
.icon, .iconig {
  width: 35px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-left: 20px;
  color: #00b123; /* This won't apply to img tags, but left for reference */
}

.iconig {
  width: 41px; /* Adjust size specifically for Instagram icon */
  margin-bottom: -3px; /* Adjust vertical alignment if necessary */
}



.footer-logo {
  display: block; /* Make sure the logo is a block to apply width and height correctly */
  width: 290px; /* Adjust the width as necessary */
  height: 90px; /* Maintain aspect ratio */
  flex: 1;
  margin-top: -35px;
  margin-left: -15px;

}

.footer-nav {
  grid-area: footer;
  background-color: #40A2E3;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactt{
  margin-top: -25px;
}

.lang{
  margin-top: -65px;

}
.follow-us{

  margin-top: -65px;

}