/* services.css */

body {
    background-color: #FDFDFB; /* Définir le fond de la page en blanc */
  }
  
  .services-container {
    margin-top: 20px;
    text-align: center; /* Centrer le texte horizontalement */
    background-color: #FDFDFB; /* Définir le fond du conteneur principal en blanc */
  }
  
  .services-container h2 {
    color: #5784BA; /* Changer la couleur du titre en #5784BA */
  }

  .service-details strong {
    color:#5C6C73 /* Changer la couleur des mots "Description" et "Département" */
  }
/* Modifier la couleur du contenu de description et du département en #556C96 */
.service-details p {
    color:#9DB5C0;
}

.services-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Adjust the height as needed */
  background: rgba(32, 70, 224, 1.0);
  background: conic-gradient(from 315deg, rgba(32, 70, 224, 1.0), rgba(117, 163, 216, 1.0));
  color: white; /* Adjust text color as needed */
  font-size: 36px; /* Adjust font size as needed */
  font-weight: bold;
  margin-top: 90px;
  margin-right:20px ;
  margin-left:40px ;
}

.services {
  margin: 0; /* Removes default margin from h1 tag */
  margin-right: 990px;
}


  
  .services-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap; /* Permettre le retour à la ligne des éléments */
    justify-content: center; /* Centrer les éléments horizontalement */
  }
  
  .service-item {
    width: calc(25% - 20px); /* Chaque élément prend 25% de la largeur - marges */
    margin: 10px; /* Espacement entre les éléments */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column; /* Disposer les enfants en colonne */
    align-items: center; /* Centrer les enfants horizontalement */
    text-align: center; 
    transition: transform 0.3s ease; /* Add transition for smooth scaling */

  }
  .service-item:hover {
    transform: scale(1.1); /* Scale the item when hovering */
  }
  .service-item a, .service-item a:visited {
    text-decoration: none; /* Removes underline from links */
  }
  
  
  .service-image {
    width: 360px; /* Set a fixed width */
    height: 200px; /* Set a fixed height */
    object-fit: cover; /* Maintain aspect ratio and cover the entire space */
    margin-bottom: 10px; /* Optional: adjust margin as needed */
    border-radius: 10px; /* Optional: add rounded corners */
    transition: transform 0.3s ease; /* Add transition for smooth scaling */

  }

  .service-image:hover {
    transform: scale(0.5.0.5); /* Scale the image when hovering */
  }
  
  
  .service-title {
    font-weight: bold;
    margin-bottom: 5px; /* Espacement entre le titre et la description */
    align-self: center; /* Centrer le titre verticalement */
  }
  
  .service-description {
    margin-bottom: 10px; /* Espacement en dessous de la description */
  }
  
  .service-details {
    flex: 1; /* Pour occuper l'espace restant */
  }
  
  .pagination {
    margin-top: 20px;
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .pagination button:hover {
    background-color: #0056b3;
  }
  
  .pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  